<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/output.css">
  <title>Chat App</title>
  <style>
    #message-container::-webkit-scrollbar{
   display:none;
    }
  </style>
</head>
<body class="h-lvh">
  <h2 class="absolute"><%=user.username%></h2>
  <div class="w-lvw h-12 flex justify-between items-center px-3">
    <h3 class="font-bold">chat</h3>
    <a href="#" class="px-3 rounded bg-blue-600 text-white" id="video-call-btn">video call</a>
</div>
<div class="bg-zinc-200 pt-2 h-4/5 overflow-y-auto " id="message-container">
  <div id="chat"></div>
</div>

   <div class="bg-white h-12">
    <div id="chatform" class="bg-white p-2 flex" >
      <input id="recipient" placeholder="Recipient Username" />
        <input type="text" id="messagebox" class="flex-1 border border-gray-300 rounded-md px-3 py-2 focus:outline-none "
         placeholder="type a message....">
         <button  class=" ml-2 bg-indigo-600 text-white py-2 px-4 rounded-md" id="send">send</button>
    </div>
   </div> 

  <script>
    const ws = new WebSocket('ws://localhost:3000');

    ws.onopen = () => {
      console.log('Connected to the server.');
      const username = "<%=user.username%>"
      ws.send(JSON.stringify({ type: 'register', username }));
    };

    ws.onmessage = (event) => {
      const data = JSON.parse(event.data);

      if (data.type === 'oldmessage') {    //to handle old msg 
        if(data.from === "<%=user.username%>"){  
          attachMessage(data.message);
          }else{
            recieveMessage(data.message);
          }
      } else if(data.type === 'message') {               // to handle new msg
        if(data.from === "<%=user.username%>"){  
          attachMessage(data.message);
          }else{
            recieveMessage(data.message);
          }
      } else {
        alert(data.message);
      }
    };

    
    document.getElementById('send').addEventListener('click', () => {
      const recipient = document.getElementById('recipient').value;
      const message = document.getElementById('messagebox').value;
      ws.send(JSON.stringify({ type: 'message', to: recipient, message }));
    });

    function attachMessage(message){
            const userMessageContainer = document.createElement('div');
            userMessageContainer.classList.add('flex','mx-2', 'my-2', 'justify-end');

            const userMessageDiv = document.createElement("div");
            userMessageDiv.classList.add('bg-blue-500','text-white','p-3','rounded-lg','max-w-xs');
            
            const userMessageText = document.createElement('p');
            userMessageText.textContent = message;
            
            userMessageDiv.appendChild(userMessageText);
            userMessageContainer.appendChild(userMessageDiv);

            document.getElementById('message-container') .appendChild(userMessageContainer);
            document.querySelector("#message-container").scrollTop = document.querySelector("#message-container").scrollHeight
        }    
        function recieveMessage(message){
            const userMessageContainer = document.createElement('div');
            userMessageContainer.classList.add('flex','mx-2','my-2','justify-start');

            const userMessageDiv = document.createElement("div");
            userMessageDiv.classList.add('bg-gray-300','text-gray-800','p-3','rounded-lg','max-w-xs');
            
            const userMessageText = document.createElement('p');
            userMessageText.textContent = message;
            
            userMessageDiv.appendChild(userMessageText);
            userMessageContainer.appendChild(userMessageDiv);

            document.getElementById('message-container') .appendChild(userMessageContainer);
            document.querySelector("#message-container").scrollTop = document.querySelector("#message-container").scrollHeight
        }    
  
  </script>
</body>
</html>
